registry=https://registry.npmjs.org/
@atlaskit:registry=https://registry.npmjs.org/
@atlassian:registry=https://packages.atlassian.com/artifactory/api/npm/atlassian-npm/

# Keep auth tokens in your user-level ~/.npmrc.
